.building {
  background-color: gray;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.house {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  height: 200px;
}

.windows {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.elevatorContainer {
  width: 500px;
  background-color: yellow;
  height: 680px;
  position: relative;
} 

.elevatorSet {
  display: flex;
  gap: 20px;
}

.elevator {
  width: 500px;
  height: 200px;
  background-color: brown;
  position: absolute;
  bottom: 0;
  background: url(assets/elevator.jpg);
  background-size: 100% 100%;
}

.leftDoor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 200px;
  background-color: #594B3D;
}

.closedLeftDoor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 245px;
  height: 200px;
  background-color: #594B3D;
  transition-duration: 500;
}

.rightDoor {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 200px;
  background-color: #594B3D;
}

.closedRightDoor {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 245px;
  height: 200px;
  background-color: #594B3D;
  transition-duration: 500;
}

.floorSelect {
  display: grid;
  grid-template-columns: auto auto;
  height: 100px;
  grid-gap: 10px;
}

.floorBtn {
  border-radius: 45%;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startBtn, .stopBtn {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
